.App {
  font-family: sans-serif;
  text-align: center;
  height: 100vh; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainText {
  font-size: 40px;
}

.tooltip:after {
  content: "";
  transform: translateX(-50%);
  position: absolute;
  top: 100%;
  left: 50%;
  border-top: solid 15px #96ddff;
  border-left: solid 15px transparent;
  border-right: solid 15px transparent;
}
